body {
    margin: 0;
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar:*/
ul {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    border-bottom: 1px solid #ff0000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Platz zwischen den Elementen verteilen */
}

.logo {
    width: 200px;
    margin-left: -20px;
    margin-top: -70px;
    margin-bottom: -70px;
}

li p {
    margin-left: 10px;
    font-size: 22px;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 25px;
    font-size: 18px;
}

.profile-icon {
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

li a:hover {
    background-color: #c9c9c9;
}

.active {
    background-color: #04AA6D;
}

.navbar-spacing {
    display: flex;
    align-items: center;
}

/*Main:*/
h1 {
    text-align: center;
}

.applibary {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apps {
    border-radius: 30px;
    width: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.arrow {
    font-size: 50px;
    color: grey;
}

.button {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.button1 {
    background-color: #ff0000;
}

.button2 {
    background-color: #1eb3c1;
}


/*Footer:*/
.footer {
    border-top: 1px solid #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.footer img {
    margin-right: 10px;
    margin-top: 10px;
    width: 250px;
    float: right;
}