body {
    margin: 0;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


/*Navbar:*/
ul {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    border-bottom: 1px solid #ff0000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Platz zwischen den Elementen verteilen */
}

li p {
    margin-left: 10px;
    font-size: 22px;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 25px;
    font-size: 18px;
}

li img {
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

li a:hover {
    background-color: #c9c9c9;
}

.active {
    background-color: #04AA6D;
}

.navbar-spacing {
    display: flex;
    align-items: center;
}

/* Burgermenu-Styling */
.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
  }
  
  /* Hide the bars by default */
  .bar:nth-child(2) {
    opacity: 0;
  }
  
  /* Navbar-Styles */
  /* ... (dein bestehender Code bleibt unverändert) */
  

/*Footer:*/
.footer {
    border-top: 1px solid #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.footer img {
    margin-right: 10px;
    margin-top: 10px;
    width: 350px;
    float: right;
}