<ul>
    <li><p>FailureV8</p></li>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
    <li><img class="srf-image" src="<%= asset_path("cantonbl.png") %>"></li>
</ul>